<a href="https://colab.research.google.com/github/Arj05/Machine-Learning/blob/master/PimaDiabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
import matplotlib.pyplot as plt
import numpy as np

In [7]:
 from google.colab import files
 uploaded=files.upload()

Saving dataset.csv to dataset.csv

In [0]:
import io
data=pd.read_csv(io.BytesIO(uploaded['dataset.csv']))

In [9]:
data

     num_preg  glucose_conc  diastolic_bp  ...  age    skin  diabetes
0           6           148            72  ...   50  1.3790      True
1           1            85            66  ...   31  1.1426     False
2           8           183            64  ...   32  0.0000      True
3           1            89            66  ...   21  0.9062     False
4           0           137            40  ...   33  1.3790      True
..        ...           ...           ...  ...  ...     ...       ...
763        10           101            76  ...   63  1.8912     False
764         2           122            70  ...   27  1.0638     False
765         5           121            72  ...   30  0.9062     False
766         1           126            60  ...   47  0.0000      True
767         1            93            70  ...   23  1.2214     False

[768 rows x 10 columns]

In [10]:
data.shape

(768, 10)

In [11]:
data.head()

   num_preg  glucose_conc  diastolic_bp  ...  age    skin  diabetes
0         6           148            72  ...   50  1.3790      True
1         1            85            66  ...   31  1.1426     False
2         8           183            64  ...   32  0.0000      True
3         1            89            66  ...   21  0.9062     False
4         0           137            40  ...   33  1.3790      True

[5 rows x 10 columns]

In [12]:
data.tail()

     num_preg  glucose_conc  diastolic_bp  ...  age    skin  diabetes
763        10           101            76  ...   63  1.8912     False
764         2           122            70  ...   27  1.0638     False
765         5           121            72  ...   30  0.9062     False
766         1           126            60  ...   47  0.0000      True
767         1            93            70  ...   23  1.2214     False

[5 rows x 10 columns]

In [13]:
data.isnull().values.any()

False

In [0]:
map={True: 1,False: 0}
data['diabetes']=data['diabetes'].map(map)

In [15]:
data.head()

   num_preg  glucose_conc  diastolic_bp  ...  age    skin  diabetes
0         6           148            72  ...   50  1.3790         1
1         1            85            66  ...   31  1.1426         0
2         8           183            64  ...   32  0.0000         1
3         1            89            66  ...   21  0.9062         0
4         0           137            40  ...   33  1.3790         1

[5 rows x 10 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
features=['num_preg','glucose_conc' ,	'diastolic_bp' 	,'thickness', 'insulin','bmi', 'diab_pred', 'age' ,'skin']
predict=['diabetes']

In [0]:
x=data[features].values
y=data[predict].values

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=10)

In [25]:

from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(random_state=10)

classifier.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [0]:
output=classifier.predict(x_test)

In [27]:
print(output)

[1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 1 1 0 0 0
 0 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1
 1 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 0 0 0 1 0 0 0 0 0 1 0 0
 0 1 1 0 1 1 0 0 0]

In [0]:
from sklearn import metrics

In [0]:
dummy=metrics.accuracy_score(y_test,output)

In [32]:
print("The accuracy is",dummy)

The accuracy is 0.7445887445887446